* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  margin-bottom: 14px;
}

h2 {
  font-size: 26px;
  margin-bottom: 12px;
}

.wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
  padding: 16px 0;
}

.main {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  padding: 24px;
  background-color: #1d2025;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 600px;
}

.section-wrapper {
  margin-bottom: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-color: #363636;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid #5c5c5c;
}

/* Location section */
.location__section .item {
  background-color: #00476b;
  border-color: #017ab7;
}

/* Roadmap section */
.roadmap__section .item.done {
  background-color: #006c00;
  border-color: #01b801;
}

.roadmap__section .item.in-progress {
  background-color: #6c6c00;
  border-color: #b8b801;
}

.roadmap__section .item.blocked {
  background-color: #6c0000;
  border-color: #b80101;
}

/* Footer */
.footer {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.footer a {
  color: #61dafb;
}